--extra-index-url https://download.pytorch.org/whl/cu113
importlib-metadata==4.11.3
more-itertools==8.8.0
nltk==3.7
pexpect==4.8.0
regex==2022.1.18
SoMeWeTa==1.8.0
torch==1.11.0
torchaudio==0.11.0+cu113
torchvision==0.12.0+cu113
pytorch_transformers==1.2.0
tqdm==4.62.3
typing_extensions==4.1.1
flair==0.11.1
tensorboard==2.8.0
pyhocon==0.3.59
flair==0.11.1
pydantic==1.9.0
